@font-face {
    font-family: 'gnu';
    src: url('font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    font-family:'gnu';
    color: rgb(225, 225, 225);
    line-height: 30px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.main{
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    background-color: rgba(136, 136, 136, 0.2)
}

.header{
    margin-top:10px ;
}

.status span{
    color: greenyellow;
}
a{
    text-decoration: none;
    color: rgb(174, 174, 233);
}

.decoration h1{
    font-size: 150px;
    position: absolute;
    margin-top: -40px;
    margin-left: 45%;
    color: black;
}


@media (max-width: 1700px) {
    .main{
        padding: 10px;
        width: 90%;
    }

    .decoration{
        display: none;
    }
}
